html,
body
{
width: 100%;
}

table th{
text-align: center;
vertical-align: middle !important;
}

#back-button{
margin: 20px 20px 0 0;
}

#background-logo{
width: 400px;
height: 300px;
position: fixed;
bottom: 20px;
right: 0;
opacity:0.1;
filter:alpha(opacity=10); /* For IE8 and earlier */
z-index: -10;
}

#login-panel{
width: 400px;
margin: 175px auto 0;
}

#logout-button{
position: fixed;
top: 250px;
left: 110px;
}

#preliminary-form{
width: 800px;
margin: 60px auto 0;
}

#preliminary-nav{
width: 100%;
height: 50px;
background: #bf002d;
position: fixed;
top: 0;
left: 0;
z-index: 10;
}

#preliminary-nav-logo{
width: 15%;
margin: 10px 20px;
display: inline-block;
}

#preliminary-nav-logo img{
width: 100%;
}

#preliminary-nav-menu{
margin: -30px 20px 0;
position: relative;
float: right;
display: inline-block;
}

#preliminary-nav-menu ul{
display: inline-block;
list-style-type: none;
}

#preliminary-nav-menu ul li{
margin: 0 15px;
font-size: 20px;
display: inline-block;
}

#preliminary-nav-menu ul li a{
color: #fff;
}

#preliminary-nav-menu ul li a:hover{
color: #777;
}

#preliminary-nav-timer{
width: 115px;
margin: -35px auto 0;
position: relative;
font-size: 20px;
color: #fff;
}

#toggle-add-button,
#toggle-sync-button
{
margin: 20px 0 0 0;
}

#toggle-grade-button{
margin: 20px 0 0 0;
position: relative;
float: right;
}

.admin-menu{
position: fixed;
width: 15%;
float: left;
left: 5%;
top: 53px;
}

.admin-main{
position: relative;
width: 74%;
float: right;
right: 5%;
top: 50px;
}

.admin-main-header h4{
font-weight: bold;
}

.admin-main-body{
min-height: 500px;
}

.error-input{
border-color: #f00;
}

.error-input::-webkit-input-placeholder,  /* WebKit browsers */
.error-input:-moz-placeholder,            /* Mozilla Firefox 4 to 18 */
.error-input::-moz-placeholder,           /* Mozilla Firefox 19+ */
.error-input:-ms-input-placeholder              /* Internet Explorer 10+ */
{
color: #f00 !important;
}

.preliminary-form-answer{
margin-top: 30px;
}

.preliminary-form-content{
position: relative;
left: 5px;
}

.preliminary-form-choice{
margin-bottom: 10px;
}

.preliminary-form-group{
margin-bottom: 30px;
}

.preliminary-form-numbering{
width: 25px;
position: relative;
top: 18px;
left: -30px;
font-weight: bold;
text-align: right;
}

.row{
width: 100%;
}

.table-problem,
.table-contestant
{
margin-top: 30px;
}

.text-input-disabled{
position: relative;
top: 8px;
}

.view-main{
width: 800px;
margin: 20px 0 0 0;
}

.view-problem{
margin: 30px 0 30px 15px;
}

.view-answer{
margin: 20px 0 0 20px;
width: 100%;
vertical-align: bottom;
}

.view-choice{
margin: 5px 0;
}

.view-choice-content,
.view-choice-prefix{
display: inline-block;
}

.view-choosen{
color: #f00;
}
